tabpreview {
  -moz-binding: url('chrome://tabsidebar/content/bindings.xml#tabpreview');
}

tabpreviews {
  -moz-binding: url('chrome://tabsidebar/content/bindings.xml#tabpreviews');
}

tabpreviews {
  -moz-box-flex: 1;
  -moz-box-align: stretch;
  -moz-box-orient: vertical;
}

tabpreviews scrollbox[anonid="scrollbox"] {
  -moz-box-flex: 1;
  overflow-y: scroll;
}

tabpreview[loading="true"] toolbarbutton[anonid="reload"] {
  display: none;
}
  
tabpreview[loading="false"] image[anonid="loading"] {
  display: none;
}

tabpreview {
  -moz-box-align: center;
}

tabpreview[security="none"] toolbarbutton[anonid="security"] {
  display: none;
}
