tabpreview {
  -moz-binding: url('chrome://tabsidebar/content/tabpreview.xml#tabpreview');
}

tabpreviews {
  -moz-binding: url('chrome://tabsidebar/content/tabpreviews.xml#tabpreviews');
}

tabpreviews {
  -moz-box-flex: 1;
  -moz-box-align: stretch;
  -moz-box-orient: vertical;
}

tabpreviews scrollbox[anonid="scrollbox"] {
  -moz-box-flex: 1;
  overflow-y: scroll;
}

tabpreview[loading="true"] toolbarbutton[anonid="reload"] {
  display: none;
}
  
tabpreview[loading="false"] image[anonid="loading"] {
  display: none;
}

tabpreview {
  -moz-box-align: center;
}

tabpreview[security="none"] toolbarbutton[anonid="security"] {
  display: none;
}

tabpreviews[hide~="uri"] label[anonid="uri"],
tabpreviews[hide~="title"] label[anonid="title"],
tabpreviews[hide~="preview"] canvas[anonid="canvas"],
tabpreviews[hide~="security"] toolbarbutton[anonid="security"],
tabpreviews[hide~="throbber"] image[anonid="loading"],
tabpreviews[hide~="reload"] toolbarbutton[anonid="reload"],
tabpreviews[hide~="close"] toolbarbutton[anonid="close"] {
    display: none;
}
