.tbs-scrollbox {
  overflow-y: scroll;
}

.tbs-tabpreview {
  -moz-box-align: center;
}

.tbs-tabpreview[security="none"] .tbs-security {
  display: none;
}

.tbs-tabpreviews[hide~="uri"] .tbs-uri,
.tbs-tabpreviews[hide~="title"] .tbs-title {
  visibility: hidden !important;
}

.tbs-tabpreviews[hide~="security"] .tbs-security,
.tbs-tabpreviews[hide~="preview"] .tbs-container,
.tbs-tabpreviews[hide~="throbber"] .tbs-loading,
.tbs-tabpreviews[hide~="reload"] .tbs-reload,
.tbs-tabpreviews[hide~="stop"] .tbs-stop,
.tbs-tabpreviews[hide~="favicon"] .tbs-favicon,
.tbs-tabpreviews[hide~="close"] .tbs-close {
  display: none !important;
}

.tbs-tabpreview[loading="false"] .tbs-loading {
  display: none;
}

.tbs-tabpreview[loading="true"] .tbs-favicon {
  display: none;
}

.tbs-tabpreviews[hide~="throbber"] .tbs-tabpreview[loading="true"] .tbs-favicon {
  display: -moz-box;
}

.tbs-tabpreviews[hide~="throbber"][hide~="favicon"][hide~="title"][hide~="close"] .tbs-topbox {
  display: none;
}

.tbs-tabpreviews[hide~="uri"] .tbs-bottombox {
  display: none;
}
