tabpreviews {
}

tabpreviews scrollbox[anonid="scrollbox"] {
  overflow-y: scroll;
}

tabpreview {
  -moz-box-align: center;
}

tabpreview[security="none"] image[anonid="security"] {
  display: none;
}

tabpreviews[hide~="uri"] label[anonid="uri"],
tabpreviews[hide~="title"] label[anonid="title"] {
  visibility: hidden !important;
}

tabpreviews[hide~="security"] image[anonid="security"],
tabpreviews[hide~="preview"] box[anonid="canvas_container"],
tabpreviews[hide~="throbber"] image[anonid="loading"],
tabpreviews[hide~="reload"] toolbarbutton[anonid="reload"],
tabpreviews[hide~="favicon"] image[anonid="favicon"],
tabpreviews[hide~="close"] toolbarbutton[anonid="close"] {
  display: none !important;
}

tabpreview[loading="false"] image[anonid="loading"] {
  display: none;
}

tabpreview[loading="true"] image[anonid="favicon"] {
  display: none;
}

tabpreviews[hide~="throbber"] tabpreview[loading="true"] image[anonid="favicon"] {
  display: -moz-box;
}

tabpreviews[hide~="throbber"][hide~="favicon"][hide~="title"][hide~="close"] hbox[anonid="topbox"] {
  display: none;
}

tabpreviews[hide~="uri"] vbox[anonid="bottombox"] {
  display: none;
}
