.tbs-scrollbox {
  overflow-y: scroll;
}

.tbs-tabpreview {
  -moz-box-align: center;
}

.tbs-tabpreview[security="none"] .tbs-security {
  display: none;
}

.tbs-tabpreviews[hide~="reload"] .tbs-reload,
.tbs-tabpreviews[hide~="stop"] .tbs-stop {
  display: none !important;
}

.tbs-tabpreview[loading="false"] .tbs-loading {
  display: none;
}

.tbs-tabpreview[loading="true"] .tbs-favicon {
  display: none;
}

.tbs-tabpreviews[hide~="uri"] .tbs-bottombox {
  display: none;
}

.tbs-tabpreviews[hide~="uri"] .tbs-tooltip-uri {
  display: none;
}
