/* fix the missing border below sidebarheader on trunk after silvers (James Ross) theme checkin bug 243078 on 20051007 */
sidebarheader {
  border-bottom: 1px ThreeDShadow solid !important;
}

#tabsidebar-options {
  list-style-image: url("chrome://tabsidebar/skin/options.png");
}

#tabsidebar-options image {
  padding: 0;
  margin: 0;
}

#tabsidebar-help {
  list-style-image: url("chrome://tabsidebar/skin/help.png");
}

#tabsidebar-help image {
  padding: 0;
  margin: 0;
}

tabbrowser menupopup[anonid="tabContextMenu"] {
  visibility: visible !important;
}

#sidebar-box[sidebarcommand="viewTabSidebar"] #sidebar {
  background-color: -moz-dialog !important;
}

#tabsidebar-left-container,
#tabsidebar-right-container {
	min-width: 150px;
	max-width: 300px;
}

#tabsidebar-top-container,
#tabsidebar-bottom-container {
	min-height: 110px;
	max-height: 300px
}
