/* Generic layout */
.tbs-tabpreviews-vertical .tbs-scrollbox {
	background-image: url('chrome://tabsidebar/skin/background/bkgnd-vertical.png');
	background-repeat: repeat-y;
	background-position: left;
  padding: 0px 2px 0px 2px;
}

.tbs-tabpreviews-horizontal .tbs-scrollbox {
	background-image: url('chrome://tabsidebar/skin/background/bkgnd-horizontal.png');
	background-repeat: repeat-x;
	background-position: top;
  padding: 2px 0px 2px 0px;
}

.tbs-tabpreviews-vertical separator {
  margin: 4px 0px 4px 0px !important;
  height: 0px !important;
}

.tbs-tabpreviews-horizontal separator {
  margin: 0px 4px 0px 4px !important;
  width: 0px !important;
}

.tbs-title {
  margin: 0 2px 0 2px;
  font: message-box;
  border: 1px solid transparent;
}

.tbs-tabpreview:focus .tbs-title {
	border: 1px dotted black;
}

.tbs-top-middle {
	background-repeat: repeat-x;
	background-position: top left;
}

.tbs-top-left {
	width: 8px;
	background-position: top left;
	background-repeat: no-repeat;
}

.tbs-top-right {
	width: 8px;
	background-position: top right;
	background-repeat: no-repeat;
}

.tbs-bottom-middle {
	background-repeat: repeat-x;
	background-position: bottom left;
}

.tbs-bottom-left {
	width: 8px;
	background-position: bottom left;
	background-repeat: no-repeat;
}

.tbs-bottom-right {
	width: 8px;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.tbs-middle-middle {
	background-repeat: repeat;
}

.tbs-middle-left {
	width: 8px;
	background-position: left;
	background-repeat: repeat-y;
}

.tbs-middle-right {
	width: 8px;
	background-position: right;
	background-repeat: repeat-y;
}

/* Tooltip */

.tbs-tooltip-title,
.tbs-tooltip-uri,
.tbs-tooltip-image {
  width: 300px;
}

/* Scroll buttons */

.tbs-startoverflow > .toolbarbutton-menu-dropmarker,
.tbs-endoverflow > .toolbarbutton-menu-dropmarker {
  display: none;
}

.tbs-scrolltoolbar > toolbarbutton > .toolbarbutton-text {
  display: none;
}

.tbs-scrolltoolbar > toolbarbutton > .toolbarbutton-icon {
  margin: 0;
}

.tbs-scrolltoolbar > toolbarbutton {
  list-style-image: url('chrome://tabsidebar/skin/scrollicons.gif');
  -moz-box-align: center;
  -moz-box-pack: center;
}

.tbs-scrolltoolbar > toolbarbutton[disabled="true"] {
  list-style-image: url('chrome://tabsidebar/skin/scrollicons-disabled.gif');
}

.tbs-tabpreviews-vertical .tbs-scrollstart {
  -moz-image-region: rect(0px, 21px, 5px, 16px);
}

.tbs-tabpreviews-horizontal .tbs-scrollstart {
  -moz-image-region: rect(8px, 21px, 13px, 16px);
}

.tbs-tabpreviews-vertical .tbs-scrollend {
  -moz-image-region: rect(0px, 29px, 5px, 24px);
}

.tbs-tabpreviews-horizontal .tbs-scrollend {
  -moz-image-region: rect(8px, 29px, 13px, 24px);
}

.tbs-scrollup {
  -moz-image-region: rect(0px, 5px, 3px, 0px);
}

.tbs-scrollleft {
  -moz-image-region: rect(8px, 3px, 13px, 0px);
}

.tbs-scrolldown {
  -moz-image-region: rect(0px, 13px, 5px, 8px);
}

.tbs-scrollright {
  -moz-image-region: rect(8px, 13px, 13px, 8px);
}

.tbs-tabpreviews-vertical .tbs-startoverflow {
  -moz-image-region: rect(0px, 40px, 5px, 32px);
}

.tbs-tabpreviews-horizontal .tbs-startoverflow {
  -moz-image-region: rect(8px, 37px, 16px, 32px);
}

.tbs-tabpreviews-vertical .tbs-endoverflow {
  -moz-image-region: rect(0px, 40px, 5px, 32px);
}

.tbs-tabpreviews-horizontal .tbs-endoverflow {
  -moz-image-region: rect(8px, 37px, 16px, 32px);
}

.tbs-scrolltoolbar menuitem {
  list-style-image: url("chrome://tabsidebar/skin/favicon.png");
}

/* Tab settings */
.tbs-tabpreview[selected="true"] .tbs-title {
  font-weight: bold;
}

.tbs-tabpreview[security="high"][selected="true"],
.tbs-tabpreview[security="low"][selected="true"] {
  background-color: #edec7d !important;
}

.tbs-topbox {
	padding: 4px 4px 2px 4px;
}

.tbs-stack {
	margin: 0 4px 5px 4px;
}

.tbs-toolbar {
	padding: 2px;
}

/* Canvas style */
.tbs-container {
  border: 1px solid ThreeDShadow;
}

.tbs-tabpreview:hover .tbs-container,
.tbs-tabpreview[selected="true"] .tbs-container {
  border-color: ThreeDDarkShadow;
}

.tbs-tabpreview:hover .tbs-canvas, 
.tbs-tabpreview[selected="true"] .tbs-canvas {
  opacity: 1 !important;
}

.tbs-tabpreview .tbs-canvas {
  opacity: 0.6;
}

/* Drag and drop */
.tbs-drop-indicator-bar {
  display: none;
  position: relative;
}

.tbs-tabpreviews-vertical .tbs-drop-indicator-bar {
  width: 0;
}

.tbs-tabpreviews-horizontal .tbs-drop-indicator-bar {
  height: 0;
}

.tbs-drop-indicator {
  height: 11px;
  width: 11px;
  position: relative;
  background: 50% 50% no-repeat;
}

.tbs-tabpreviews-horizontal .tbs-drop-indicator {
  margin-bottom: -15px;
  background-image: url('chrome://tabsidebar/skin/dropIndicatorTTB.png');
}

.tbs-tabpreviews-vertical .tbs-drop-indicator {
  -moz-margin-end: -15px;
  background-image: url('chrome://tabsidebar/skin/dropIndicatorLTR.png');
}

.tbs-tabpreviews-vertical .tbs-drop-indicator[chromedir="rtl"] {
  background-image: url('chrome://tabsidebar/skin/dropIndicatorRTL.png');
}

.tbs-drop-indicator-bar[dragging="true"] {
  display: -moz-box
}

/* Toolbar like items */
.tbs-icon .toolbarbutton-icon,
.tbs-icon .toolbarbutton-text {
  margin: 0px;
  padding: 0px;
}
  
.tbs-loading {
  list-style-image: url("chrome://tabsidebar/skin/Throbber-small.gif");
  opacity: 0.5;
  -moz-margin-end: 2px;
}

.tbs-favicon {
  list-style-image: url("chrome://tabsidebar/skin/favicon.png");
  -moz-margin-end: 2px;
  height: 16px !important;
  max-height: 16px !important;
  width: 16px !important;
  max-width: 16px !important;
}

/* opacity:1 for favicon,security,reload when selected or hovered */
.tbs-tabpreview:not([selected="true"]):not(:hover) .tbs-favicon,
.tbs-tabpreview:not([selected="true"]):not(:hover) .tbs-icon {
   opacity: 0.6;
}

/* Defaults for all icons */
.tbs-icon, .tbs-icon .toolbarbutton-menubutton-button {
  list-style-image: url("chrome://tabsidebar/skin/Icons.png");
  -moz-appearance: none;
  border: none !important;
  padding: 0px !important;
}

/* Drop markers */

.tbs-icon .toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://tabsidebar/skin/Icons.png");
  -moz-image-region: rect(6px, 125px, 11px, 116px);
}

.tbs-icon .toolbarbutton-menubutton-dropmarker:hover {
  -moz-image-region: rect(22px, 125px, 27px, 116px);
}

.tbs-icon .toolbarbutton-menubutton-dropmarker:hover:active {
  -moz-image-region: rect(38px, 125px, 43px, 116px);
}

.tbs-icon .toolbarbutton-menubutton-dropmarker[disabled="true"] {
  list-style-image: url("chrome://tabsidebar/skin/Icons.png") !important;
  -moz-image-region: rect(54px, 125px, 59px, 116px) !important;
}

/* Back button */
.tbs-back {
  list-style-image: inherit;
}

.tbs-back .toolbarbutton-menubutton-button {
  -moz-image-region: rect(0px, 96px, 16px, 80px);
}

.tbs-back .toolbarbutton-menubutton-button:hover {
  -moz-image-region: rect(16px, 96px, 32px, 80px);
}

.tbs-back .toolbarbutton-menubutton-button:hover:active {
  -moz-image-region: rect(32px, 96px, 48px, 80px);
}

.tbs-back[disabled="true"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(48px, 96px, 64px, 80px) !important;
}

.tbs-back[chromedir="rtl"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(0px, 112px, 16px, 96px);
}

.tbs-back[chromedir="rtl"] .toolbarbutton-menubutton-button:hover {
  -moz-image-region: rect(16px, 112px, 32px, 96px);
}

.tbs-back[chromedir="rtl"] .toolbarbutton-menubutton-button:hover:active {
  -moz-image-region: rect(32px, 112px, 48px, 96px);
}

.tbs-back[chromedir="rtl"][disabled="true"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(48px, 112px, 64px, 96px) !important;
}

/* Forward button */
.tbs-forward {
  list-style-image: inherit;
}

.tbs-forward .toolbarbutton-menubutton-button {
  -moz-image-region: rect(0px, 112px, 16px, 96px);
}

.tbs-forward .toolbarbutton-menubutton-button:hover {
  -moz-image-region: rect(16px, 112px, 32px, 96px);
}

.tbs-forward .toolbarbutton-menubutton-button:hover:active {
  -moz-image-region: rect(32px, 112px, 48px, 96px);
}

.tbs-forward[disabled="true"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(48px, 112px, 64px, 96px) !important;
}

.tbs-forward[chromedir="rtl"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(0px, 96px, 16px, 80px);
}

.tbs-forward[chromedir="rtl"] .toolbarbutton-menubutton-button:hover {
  -moz-image-region: rect(16px, 96px, 32px, 80px);
}

.tbs-forward[chromedir="rtl"] .toolbarbutton-menubutton-button:hover:active {
  -moz-image-region: rect(32px, 96px, 48px, 80px);
}

.tbs-forward[chromedir="rtl"][disabled="true"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(48px, 96px, 64px, 80px) !important;
}

/* Stop button */
.tbs-stop {
  -moz-image-region: rect(0px, 80px, 16px, 64px);
}

.tbs-stop:hover {
  -moz-image-region: rect(16px, 80px, 32px, 64px);
}

.tbs-stop:hover:active {
  -moz-image-region: rect(32px, 80px, 48px, 64px);
}

.tbs-stop[disabled="true"] {
  -moz-image-region: rect(48px, 80px, 64px, 64px) !important;
}

/* Reload button */
.tbs-reload {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.tbs-reload:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

.tbs-reload:hover:active {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}

.tbs-reload[disabled="true"] {
  -moz-image-region: rect(48px, 32px, 64px, 16px) !important;
}

/* Close button */
.tbs-tabpreview[selected="true"] .tbs-close {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.tbs-tabpreview .tbs-close {
  -moz-image-region: rect(48px, 16px, 64px, 0px);
  opacity: 1 !important;
}

.tbs-tabpreview .tbs-close:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

.tbs-tabpreview .tbs-close:hover:active {
  -moz-image-region: rect(32px, 16px, 48px, 0px) !important;
}

/* Security button */
.tbs-security[security="none"] {
  visibility: hidden;
}

.tbs-tabpreview[security="high"] .tbs-security,
.tbs-tabpreview[security="low"] .tbs-security {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.tbs-tabpreview[security="high"] .tbs-security:hover,
.tbs-tabpreview[security="low"] .tbs-security:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}

.tbs-tabpreview[security="high"] .tbs-security:hover:active,
.tbs-tabpreview[security="low"] .tbs-security:hover:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

/* Broken security */
.tbs-tabpreview[security="broken"] .tbs-security {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

.tbs-tabpreview[security="broken"] .tbs-security:hover {
  -moz-image-region: rect(16px, 64px, 32px, 48px);
}

.tbs-tabpreview[security="broken"] .tbs-security:hover:active {
  -moz-image-region: rect(32px, 64px, 48px, 48px);
}
