%define BG_DEFAULT chrome://tabsidebar/skin/background/default
%define BG_ACTIVE chrome://tabsidebar/skin/background/active
%define BG_HOVER chrome://tabsidebar/skin/background/hover

.tbs-top-middle {
	background-image: url('BG_DEFAULT/top-middle.png');
}

.tbs-tabpreview[selected="true"] .tbs-top-middle {
	background-image: url('BG_ACTIVE/top-middle.png') !important;
}

.tbs-tabpreview:hover .tbs-top-middle {
	background-image: url('BG_HOVER/top-middle.png');
}

.tbs-top-left {
	background-image: url('BG_DEFAULT/top-left.png');
}

.tbs-tabpreview[selected="true"] .tbs-top-left {
	background-image: url('BG_ACTIVE/top-left.png') !important;
}

.tbs-tabpreview:hover .tbs-top-left {
	background-image: url('BG_HOVER/top-left.png');
}

.tbs-top-right {
	background-image: url('BG_DEFAULT/top-right.png');
}

.tbs-tabpreview[selected="true"] .tbs-top-right {
	background-image: url('BG_ACTIVE/top-right.png') !important;
}

.tbs-tabpreview:hover .tbs-top-right {
	background-image: url('BG_HOVER/top-right.png');
}

.tbs-bottom-middle {
	background-image: url('BG_DEFAULT/bottom-middle.png');
}

.tbs-tabpreview[selected="true"] .tbs-bottom-middle {
	background-image: url('BG_ACTIVE/bottom-middle.png') !important;
}

.tbs-tabpreview:hover .tbs-bottom-middle {
	background-image: url('BG_HOVER/bottom-middle.png');
}

.tbs-bottom-left {
	background-image: url('BG_DEFAULT/bottom-left.png');
}

.tbs-tabpreview[selected="true"] .tbs-bottom-left {
	background-image: url('BG_ACTIVE/bottom-left.png') !important;
}

.tbs-tabpreview:hover .tbs-bottom-left {
	background-image: url('BG_HOVER/bottom-left.png');
}

.tbs-bottom-right {
	background-image: url('BG_DEFAULT/bottom-right.png');
}

.tbs-tabpreview[selected="true"] .tbs-bottom-right {
	background-image: url('BG_ACTIVE/bottom-right.png') !important;
}

.tbs-tabpreview:hover .tbs-bottom-right {
	background-image: url('BG_HOVER/bottom-right.png');
}

.tbs-middle-middle {
	background-image: url('BG_DEFAULT/middle-middle.png');
}

.tbs-tabpreview[selected="true"] .tbs-middle-middle {
	background-image: url('BG_ACTIVE/middle-middle.png') !important;
}

.tbs-tabpreview:hover .tbs-middle-middle {
	background-image: url('BG_HOVER/middle-middle.png');
}

.tbs-middle-left {
	background-image: url('BG_DEFAULT/middle-left.png');
}

.tbs-tabpreview[selected="true"] .tbs-middle-left {
	background-image: url('BG_ACTIVE/middle-left.png') !important;
}

.tbs-tabpreview:hover .tbs-middle-left {
	background-image: url('BG_HOVER/middle-left.png');
}

.tbs-middle-right {
	background-image: url('BG_DEFAULT/middle-right.png');
}

.tbs-tabpreview[selected="true"] .tbs-middle-right {
	background-image: url('BG_ACTIVE/middle-right.png') !important;
}

.tbs-tabpreview:hover .tbs-middle-right {
	background-image: url('BG_HOVER/middle-right.png');
}
