window[chromehidden~="toolbar"] #tabsidebar-left-container,
window[chromehidden~="toolbar"] #tabsidebar-left-splitter,
window[chromehidden~="toolbar"] #tabsidebar-right-container,
window[chromehidden~="toolbar"] #tabsidebar-right-splitter,
window[chromehidden~="toolbar"] #tabsidebar-top-container,
window[chromehidden~="toolbar"] #tabsidebar-top-splitter,
window[chromehidden~="toolbar"] #tabsidebar-bottom-container,
window[chromehidden~="toolbar"] #tabsidebar-bottom-splitter {
  display: none;
}

tabpreview {
  -moz-binding: url('chrome://tabsidebar/content/widgets/tabpreview.xml#tabpreview');
}

tabpreviews.tbs-tabpreviews-vertical {
  -moz-binding: url('chrome://tabsidebar/content/widgets/vertical/tabpreviews.xml#tabpreviews');
}

tabpreviews.tbs-tabpreviews-horizontal {
  -moz-binding: url('chrome://tabsidebar/content/widgets/horizontal/tabpreviews.xml#tabpreviews');
}
