.tbs-scrollbox[orient="vertical"] {
  overflow-y: scroll;
}

.tbs-scrollbox[orient="horizontal"] {
  overflow-x: scroll;
}

.tbs-tabpreview {
  -moz-box-align: center;
}

.tbs-tabpreview:focus > .tbs-tabmain {
  border: 1px dotted black;
}

.tbs-tabpreview > .tbs-tabmain {
  border: 1px solid transparent;
}

.tbs-tabpreview[security="none"] .tbs-security {
  display: none;
}

.tbs-tabpreviews-vertical[hide~="navigation"] .tbs-forward,
.tbs-tabpreviews-vertical[hide~="navigation"] .tbs-back,
.tbs-tabpreviews-vertical[hide~="navigation"] .tbs-reload,
.tbs-tabpreviews-vertical[hide~="navigation"] .tbs-stop,
.tbs-tabpreviews-horizontal[hide~="navigation"] .tbs-forward,
.tbs-tabpreviews-horizontal[hide~="navigation"] .tbs-back,
.tbs-tabpreviews-horizontal[hide~="navigation"] .tbs-reload,
.tbs-tabpreviews-horizontal[hide~="navigation"] .tbs-stop {
  display: none !important;
}

.tbs-tabpreview[loading="false"] .tbs-loading {
  display: none;
}

.tbs-tabpreview[loading="true"] .tbs-favicon {
  display: none;
}

.tbs-tabpreviews-vertical[hide~="uri"] .tbs-bottombox,
.tbs-tabpreviews-vertical[hide~="uri"] .tbs-tooltip-uri,
.tbs-tabpreviews-horizontal[hide~="uri"] .tbs-bottombox,
.tbs-tabpreviews-horizontal[hide~="uri"] .tbs-tooltip-uri {
  display: none;
}
