%define BG_DEFAULT chrome://tabsidebar-platform/skin/background/default
%define BG_ACTIVE chrome://tabsidebar-platform/skin/background/active
%define BG_SECURE chrome://tabsidebar-platform/skin/background/secure
%define BG_HOVER chrome://tabsidebar-platform/skin/background/hover

.tbs-tabpreviews-vertical .tbs-scrollbox {
	background-image: url('chrome://tabsidebar-platform/skin/background/bkgnd-vertical.png') !important;
}

.tbs-tabpreviews-horizontal .tbs-scrollbox {
	background-image: url('chrome://tabsidebar-platform/skin/background/bkgnd-horizontal.png') !important;
}

.tbs-tabpreview:focus .tbs-title {
	border: 1px solid -moz-mac-focusring !important;
}

.tbs-tabpreview .tbs-loading {
  list-style-image: url("chrome://tabsidebar-platform/skin/Throbber-small.gif");
}

tabpreviews .tbs-scrolltoolbar menuitem {
  list-style-image: url("chrome://tabsidebar-platform/skin/favicon.png");
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

.tbs-tabpreview .tbs-favicon {
  list-style-image: url("chrome://tabsidebar-platform/skin/favicon.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

tabpreviews .tbs-tabpreview[selected="true"] .tbs-favicon {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

.tbs-tabpreview .tbs-close {
  margin-right: 0px;
  list-style-image: url("chrome://tabsidebar-platform/skin/Icons.png");
}

.tbs-top-middle {
	background-image: url('BG_DEFAULT/top-middle.png');
}

.tbs-tabpreview[selected="true"] .tbs-top-middle {
	background-image: url('BG_ACTIVE/top-middle.png') !important;
}

.tbs-tabpreview[security="high"][selected="true"] .tbs-top-middle,
.tbs-tabpreview[security="low"][selected="true"] .tbs-top-middle {
  background-image: url('BG_SECURE/top-middle.png') !important;
}

.tbs-tabpreview:hover .tbs-top-middle {
	background-image: url('BG_HOVER/top-middle.png');
}

.tbs-top-left {
	background-image: url('BG_DEFAULT/top-left.png');
}

.tbs-tabpreview[selected="true"] .tbs-top-left {
	background-image: url('BG_ACTIVE/top-left.png') !important;
}

.tbs-tabpreview[security="high"][selected="true"] .tbs-top-left,
.tbs-tabpreview[security="low"][selected="true"] .tbs-top-left {
  background-image: url('BG_SECURE/top-left.png') !important;
}

.tbs-tabpreview:hover .tbs-top-left {
	background-image: url('BG_HOVER/top-left.png');
}

.tbs-top-right {
	background-image: url('BG_DEFAULT/top-right.png');
}

.tbs-tabpreview[selected="true"] .tbs-top-right {
	background-image: url('BG_ACTIVE/top-right.png') !important;
}

.tbs-tabpreview[security="high"][selected="true"] .tbs-top-right,
.tbs-tabpreview[security="low"][selected="true"] .tbs-top-right {
  background-image: url('BG_SECURE/top-right.png') !important;
}

.tbs-tabpreview:hover .tbs-top-right {
	background-image: url('BG_HOVER/top-right.png');
}

.tbs-bottom-middle {
	background-image: url('BG_DEFAULT/bottom-middle.png');
}

.tbs-tabpreview[selected="true"] .tbs-bottom-middle {
	background-image: url('BG_ACTIVE/bottom-middle.png') !important;
}

.tbs-tabpreview[security="high"][selected="true"] .tbs-bottom-middle,
.tbs-tabpreview[security="low"][selected="true"] .tbs-bottom-middle {
  background-image: url('BG_SECURE/bottom-middle.png') !important;
}

.tbs-tabpreview:hover .tbs-bottom-middle {
	background-image: url('BG_HOVER/bottom-middle.png');
}

.tbs-bottom-left {
	background-image: url('BG_DEFAULT/bottom-left.png');
}

.tbs-tabpreview[selected="true"] .tbs-bottom-left {
	background-image: url('BG_ACTIVE/bottom-left.png') !important;
}

.tbs-tabpreview[security="high"][selected="true"] .tbs-bottom-left,
.tbs-tabpreview[security="low"][selected="true"] .tbs-bottom-left {
  background-image: url('BG_SECURE/bottom-left.png') !important;
}

.tbs-tabpreview:hover .tbs-bottom-left {
	background-image: url('BG_HOVER/bottom-left.png');
}

.tbs-bottom-right {
	background-image: url('BG_DEFAULT/bottom-right.png');
}

.tbs-tabpreview[selected="true"] .tbs-bottom-right {
	background-image: url('BG_ACTIVE/bottom-right.png') !important;
}

.tbs-tabpreview[security="high"][selected="true"] .tbs-bottom-right,
.tbs-tabpreview[security="low"][selected="true"] .tbs-botom-right {
  background-image: url('BG_SECURE/bottom-right.png') !important;
}

.tbs-tabpreview:hover .tbs-bottom-right {
	background-image: url('BG_HOVER/bottom-right.png');
}

.tbs-middle-middle {
	background-image: url('BG_DEFAULT/middle-middle.png');
}

.tbs-tabpreview[selected="true"] .tbs-middle-middle {
	background-image: url('BG_ACTIVE/middle-middle.png') !important;
}

.tbs-tabpreview[security="high"][selected="true"] .tbs-middle-middle,
.tbs-tabpreview[security="low"][selected="true"] .tbs-middle-middle {
  background-image: url('BG_SECURE/middle-middle.png') !important;
}

.tbs-tabpreview:hover .tbs-middle-middle {
	background-image: url('BG_HOVER/middle-middle.png');
}

.tbs-middle-left {
	background-image: url('BG_DEFAULT/middle-left.png');
}

.tbs-tabpreview[selected="true"] .tbs-middle-left {
	background-image: url('BG_ACTIVE/middle-left.png') !important;
}

.tbs-tabpreview[security="high"][selected="true"] .tbs-middle-left,
.tbs-tabpreview[security="low"][selected="true"] .tbs-middle-left {
  background-image: url('BG_SECURE/middle-left.png') !important;
}

.tbs-tabpreview:hover .tbs-middle-left {
	background-image: url('BG_HOVER/middle-left.png');
}

.tbs-middle-right {
	background-image: url('BG_DEFAULT/middle-right.png');
}

.tbs-tabpreview[selected="true"] .tbs-middle-right {
	background-image: url('BG_ACTIVE/middle-right.png') !important;
}

.tbs-tabpreview[security="high"][selected="true"] .tbs-middle-right,
.tbs-tabpreview[security="low"][selected="true"] .tbs-middle-right {
  background-image: url('BG_SECURE/middle-right.png') !important;
}

.tbs-tabpreview:hover .tbs-middle-right {
	background-image: url('BG_HOVER/middle-right.png');
}
