.tbs-tabpreview:focus .tbs-title {
	border: 1px solid -moz-mac-focusring !important;
}

tabpreviews .tbs-scrollbox {
  background: url("chrome://tabsidebar-platform/skin/tabsbackground.gif");
}

.tbs-tabpreview .tbs-loading {
  list-style-image: url("chrome://tabsidebar-platform/skin/Throbber-small.gif");
}

tabpreviews .tbs-scrolltoolbar menuitem {
  list-style-image: url("chrome://tabsidebar-platform/skin/favicon.png");
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

.tbs-tabpreview .tbs-favicon {
  list-style-image: url("chrome://tabsidebar-platform/skin/favicon.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

tabpreviews .tbs-tabpreview[selected="true"] .tbs-favicon {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

.tbs-tabpreview .tbs-close {
  margin-right: 0px;
  list-style-image: url("chrome://tabsidebar-platform/skin/Icons.png");
}

.tbs-top-middle {
	background-image: url('chrome://tabsidebar-platform/skin/background/top-middle-bkgnd.png');
}

.tbs-tabpreview[selected="true"] .tbs-top-middle {
	background-image: url('chrome://tabsidebar-platform/skin/background/top-middle.png') !important;
}

.tbs-tabpreview:hover .tbs-top-middle {
	background-image: url('chrome://tabsidebar-platform/skin/background/top-middle-hover.png');
}

.tbs-top-left {
	background-image: url('chrome://tabsidebar-platform/skin/background/top-left-bkgnd.png');
}

.tbs-tabpreview[selected="true"] .tbs-top-left {
	background-image: url('chrome://tabsidebar-platform/skin/background/top-left.png') !important;
}

.tbs-tabpreview:hover .tbs-top-left {
	background-image: url('chrome://tabsidebar-platform/skin/background/top-left-hover.png');
}

.tbs-top-right {
	background-image: url('chrome://tabsidebar-platform/skin/background/top-right-bkgnd.png');
}

.tbs-tabpreview[selected="true"] .tbs-top-right {
	background-image: url('chrome://tabsidebar-platform/skin/background/top-right.png') !important;
}

.tbs-tabpreview:hover .tbs-top-right {
	background-image: url('chrome://tabsidebar-platform/skin/background/top-right-hover.png');
}

.tbs-bottom-middle {
	background-image: url('chrome://tabsidebar-platform/skin/background/bottom-middle-bkgnd.png');
}

.tbs-tabpreview[selected="true"] .tbs-bottom-middle {
	background-image: url('chrome://tabsidebar-platform/skin/background/bottom-middle.png') !important;
}

.tbs-tabpreview:hover .tbs-bottom-middle {
	background-image: url('chrome://tabsidebar-platform/skin/background/bottom-middle-hover.png');
}

.tbs-bottom-left {
	background-image: url('chrome://tabsidebar-platform/skin/background/bottom-left-bkgnd.png');
}

.tbs-tabpreview[selected="true"] .tbs-bottom-left {
	background-image: url('chrome://tabsidebar-platform/skin/background/bottom-left.png') !important;
}

.tbs-tabpreview:hover .tbs-bottom-left {
	background-image: url('chrome://tabsidebar-platform/skin/background/bottom-left-hover.png');
}

.tbs-bottom-right {
	background-image: url('chrome://tabsidebar-platform/skin/background/bottom-right-bkgnd.png');
}

.tbs-tabpreview[selected="true"] .tbs-bottom-right {
	background-image: url('chrome://tabsidebar-platform/skin/background/bottom-right.png') !important;
}

.tbs-tabpreview:hover .tbs-bottom-right {
	background-image: url('chrome://tabsidebar-platform/skin/background/bottom-right-hover.png');
}

.tbs-middle-middle {
	background-image: url('chrome://tabsidebar-platform/skin/background/middle-middle-bkgnd.png');
}

.tbs-tabpreview[selected="true"] .tbs-middle-middle {
	background-image: url('chrome://tabsidebar-platform/skin/background/middle-middle.png') !important;
}

.tbs-tabpreview:hover .tbs-middle-middle {
	background-image: url('chrome://tabsidebar-platform/skin/background/middle-middle-hover.png');
}

.tbs-middle-left {
	background-image: url('chrome://tabsidebar-platform/skin/background/middle-left-bkgnd.png');
}

.tbs-tabpreview[selected="true"] .tbs-middle-left {
	background-image: url('chrome://tabsidebar-platform/skin/background/middle-left.png') !important;
}

.tbs-tabpreview:hover .tbs-middle-left {
	background-image: url('chrome://tabsidebar-platform/skin/background/middle-left-hover.png');
}

.tbs-middle-right {
	background-image: url('chrome://tabsidebar-platform/skin/background/middle-right-bkgnd.png');
}

.tbs-tabpreview[selected="true"] .tbs-middle-right {
	background-image: url('chrome://tabsidebar-platform/skin/background/middle-right.png') !important;
}

.tbs-tabpreview:hover .tbs-middle-right {
	background-image: url('chrome://tabsidebar-platform/skin/background/middle-right-hover.png');
}
