#tabsidebar-hovercapture {
  width: 5px;
  background: url('chrome://tabsidebar/skin/sidebar-open.png') 50% 50%;
}

#tabsidebar-clickcapture {
  width: 5px;
  background: url('chrome://tabsidebar/skin/sidebar-close.png') 50% 50%;
}
