subpane {
  -moz-binding: url('chrome://tabsidebar/content/widgets/subpane.xml#subpane');
}

.content-box {
	-moz-box-flex: 1;
}

textbox {
  width: 5em;
}

hbox {
  -moz-box-align: center;
}

hbox label {
  -moz-box-flex: 1;
}

subpane {
  padding-left: 20px;
}

subpane[preference="showadvanced"] {
  padding-left: 0px;
}

subpane[orient="horizontal"] {
  -moz-box-align: center;
}

subpane[orient="horizontal"] label {
  -moz-box-flex: 1;
}

radiogroup.paneSelector radio {
  list-style-image: url("chrome://tabsidebar/skin/preferences.png");
}

radio[pane=paneGeneral] {
  -moz-image-region: rect(0px, 32px, 32px, 0px);
}

radio[pane=paneDisplay] {
  -moz-image-region: rect(0px, 64px, 32px, 32px);
}

radio[pane=panePreviews] {
  -moz-image-region: rect(0px, 96px, 32px, 64px);
}

radio[pane=panePreviews][disabled=true] {
  -moz-image-region: rect(32px, 96px, 64px, 64px);
}
