prefwindow {
  width: 35em;
  height: 30em;
}

.content-box {
	-moz-box-flex: 1;
}

.advanced {
  margin-top: 10px;
}

textbox {
  width: 5em;
}

radio[pane=paneGeneral] {
  list-style-image: url("chrome://tabsidebar/skin/icon.png");
}

radio[pane=paneDisplay] {
  list-style-image: url("chrome://tabsidebar/skin/icon.png");
}

radio[pane=panePreviews] {
  list-style-image: url("chrome://tabsidebar/skin/icon.png");
}
