/* Generic layout */
.tbs-scrollbox {
  padding: 0px 2px 0px 2px;
}

separator {
  margin: 4px 0px 4px 0px !important;
}

.tbs-tabpreview label {
  margin: 2px;
  font-family: message-box;
}

.tbs-topbox {
  padding-bottom: 3px;
}

.tbs-bottombox {
  padding-top: 3px;
}

/* Tab settings */
.tbs-tabpreview {
  padding: 1px;
  border: 1px -moz-dialog solid;
  background-color: -moz-dialog;
}

.tbs-tabmain {
  padding: 1px;
}

.tbs-tabpreview[selected="true"] {
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
  background-color: ThreeDHighlight;
}

.tbs-tabpreview[selected="true"] .tbs-title {
  font-weight: bold;
}

.tbs-tabpreview:not([selected="true"]):hover {
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
}

.tbs-tabpreview[security="high"][selected="true"] ,
.tbs-tabpreview[security="low"][selected="true"] {
  background-color: #F5F6BE !important;
}

.tbs-topstrip,
.tbs-bottomstrip {
  padding: 2px;
}

/* Canvas style */
.tbs-container {
  border: 1px solid ThreeDShadow;
}

.tbs-tabpreview:hover .tbs-container,
.tbs-tabpreview[selected="true"] .tbs-container {
  border-color: ThreeDDarkShadow;
}

.tbs-tabpreview:hover .tbs-canvas, 
.tbs-tabpreview[selected="true"] .tbs-canvas {
  opacity: 1 !important;
}

.tbs-tabpreview:not([selected="true"]) .tbs-canvas {
  opacity: 0.4;
}

/* Drag and drop */
.tbs-drop-indicator-bar {
  display: none;
  width: 0px;
  position: relative;
}

.tbs-drop-indicator {
  height: 11px;
  width: 11px;
  -moz-margin-end: -15px;
  position: relative;
  background: 50% 50% no-repeat;
  background-image: url('chrome://tabsidebar/skin/dropIndicatorLTR.png');
}

.tbs-drop-indicator[chromedir="rtl"] {
  background-image: url('chrome://tabsidebar/skin/dropIndicatorRTL.png');
}

.tbs-drop-indicator-bar[dragging="true"] {
  display: -moz-box
}

/* Toolbar like items */
.toolbarbutton-icon {
  margin: 0px;
}
  
.tbs-loading {
  list-style-image: url("chrome://tabsidebar/skin/Throbber-small.gif");
  opacity: 0.5;
  -moz-margin-end: 2px;
}

.tbs-favicon {
  list-style-image: url("chrome://tabsidebar/skin/favicon.png");
  -moz-margin-end: 2px;
  height: 16px;
  max-height: 16px;
  width: 16px;
  max-width: 16px;
}

/* opacity:1 for favicon,security,reload when selected or hovered */
.tbs-tabpreview:not([selected="true"]):not(:hover) .tbs-favicon,
.tbs-tabpreview:not([selected="true"]):not(:hover) .tbs-icon {
   opacity: 0.6;
}

/* Defaults for all icons */
.tbs-icon, .toolbarbutton-menubutton-button {
  list-style-image: url("chrome://tabsidebar/skin/Icons.png");
  -moz-appearance: none;
  border: none !important;
  padding: 0px;
  position: absolute; /* Required to avoid transparency issues - bug 5 */
}

/* Drop markers */

.toolbarbutton-menubutton-dropmarker {
  list-style-image: url("chrome://tabsidebar/skin/Icons.png");
  -moz-image-region: rect(6px, 125px, 11px, 116px);
}

.toolbarbutton-menubutton-dropmarker:hover {
  -moz-image-region: rect(22px, 125px, 27px, 116px);
}

.toolbarbutton-menubutton-dropmarker:hover:active {
  -moz-image-region: rect(38px, 125px, 43px, 116px);
}

.toolbarbutton-menubutton-dropmarker[disabled="true"] {
  list-style-image: url("chrome://tabsidebar/skin/Icons.png") !important;
  -moz-image-region: rect(54px, 125px, 59px, 116px) !important;
}

/* Back button */
.tbs-back {
  list-style-image: inherit;
}

.tbs-back .toolbarbutton-menubutton-button {
  -moz-image-region: rect(0px, 96px, 16px, 80px);
}

.tbs-back .toolbarbutton-menubutton-button:hover {
  -moz-image-region: rect(16px, 96px, 32px, 80px);
}

.tbs-back .toolbarbutton-menubutton-button:hover:active {
  -moz-image-region: rect(32px, 96px, 48px, 80px);
}

.tbs-back[disabled="true"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(48px, 96px, 64px, 80px) !important;
}

.tbs-back[chromedir="rtl"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(0px, 112px, 16px, 96px);
}

.tbs-back[chromedir="rtl"] .toolbarbutton-menubutton-button:hover {
  -moz-image-region: rect(16px, 112px, 32px, 96px);
}

.tbs-back[chromedir="rtl"] .toolbarbutton-menubutton-button:hover:active {
  -moz-image-region: rect(32px, 112px, 48px, 96px);
}

.tbs-back[chromedir="rtl"][disabled="true"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(48px, 112px, 64px, 96px) !important;
}

/* Forward button */
.tbs-forward {
  list-style-image: inherit;
}

.tbs-forward .toolbarbutton-menubutton-button {
  -moz-image-region: rect(0px, 112px, 16px, 96px);
}

.tbs-forward .toolbarbutton-menubutton-button:hover {
  -moz-image-region: rect(16px, 112px, 32px, 96px);
}

.tbs-forward .toolbarbutton-menubutton-button:hover:active {
  -moz-image-region: rect(32px, 112px, 48px, 96px);
}

.tbs-forward[disabled="true"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(48px, 112px, 64px, 96px) !important;
}

.tbs-forward[chromedir="rtl"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(0px, 96px, 16px, 80px);
}

.tbs-forward[chromedir="rtl"] .toolbarbutton-menubutton-button:hover {
  -moz-image-region: rect(16px, 96px, 32px, 80px);
}

.tbs-forward[chromedir="rtl"] .toolbarbutton-menubutton-button:hover:active {
  -moz-image-region: rect(32px, 96px, 48px, 80px);
}

.tbs-forward[chromedir="rtl"][disabled="true"] .toolbarbutton-menubutton-button {
  -moz-image-region: rect(48px, 96px, 64px, 80px) !important;
}

/* Stop button */
.tbs-stop {
  -moz-image-region: rect(0px, 80px, 16px, 64px);
}

.tbs-stop:hover {
  -moz-image-region: rect(16px, 80px, 32px, 64px);
}

.tbs-stop:hover:active {
  -moz-image-region: rect(32px, 80px, 48px, 64px);
}

.tbs-stop[disabled="true"] {
  -moz-image-region: rect(48px, 80px, 64px, 64px) !important;
}

/* Reload button */
.tbs-reload {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

.tbs-reload:hover {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

.tbs-reload:hover:active {
  -moz-image-region: rect(32px, 32px, 48px, 16px);
}

.tbs-reload[disabled="true"] {
  -moz-image-region: rect(48px, 32px, 64px, 16px) !important;
}

/* Close button */
.tbs-close {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.tbs-close:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

.tbs-close:hover:active {
  -moz-image-region: rect(32px, 16px, 48px, 0px) !important;
}

/* Security button */
.tbs-security[security="none"] {
  visibility: hidden;
}

.tbs-tabpreview[security="high"] .tbs-security,
.tbs-tabpreview[security="low"] .tbs-security {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

.tbs-tabpreview[security="high"] .tbs-security:hover,
.tbs-tabpreview[security="low"] .tbs-security:hover {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}

.tbs-tabpreview[security="high"] .tbs-security:hover:active,
.tbs-tabpreview[security="low"] .tbs-security:hover:active {
  -moz-image-region: rect(32px, 48px, 48px, 32px);
}

/* Broken security */
.tbs-tabpreview[security="broken"] .tbs-security {
  -moz-image-region: rect(0px, 64px, 16px, 48px);
}

.tbs-tabpreview[security="broken"] .tbs-security:hover {
  -moz-image-region: rect(16px, 64px, 32px, 48px);
}

.tbs-tabpreview[security="broken"] .tbs-security:hover:active {
  -moz-image-region: rect(32px, 64px, 48px, 48px);
}
