page {
   background-color: threedface;
}

tabpreviews scrollbox[anonid="scrollbox"] {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
}

tabpreviews .dropindicator {
   height: 0px;
   border: 1px solid transparent;
}

tabpreviews .dropindicator[selected="true"] {
   height: 0px;
   border: 1px solid black;
}

tabpreview {
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 5px;
  border: 1px grey solid;
  -moz-border-radius: 8px;
}

tabpreview[selected="true"] {
  border-color: black;
  background-color: #c1d2ee !important;
}

tabpreview:hover {
  border-color: black;
  background-color: #e0e8f6;
}

tabpreview canvas {
  border: 1px grey solid;
}

tabpreview:hover canvas, tabpreview[selected="true"] canvas {
  border: 1px black solid;
}

tabpreview label {
  margin: 2px;
  font: message-box;
}

tabpreview image[anonid="loading"] {
  list-style-image: url("chrome://tabsidebar/skin/Throbber-small.gif");
  opacity: 0.5;
  padding: 3px;
}

tabpreview toolbarbutton[anonid="reload"] {
  list-style-image: url("chrome://tabsidebar/skin/Reload-small.png");
  -moz-appearance: none;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  border: none !important;
}

tabpreview toolbarbutton[anonid="reload"] image {
  margin-right: 0px;
}

tabpreview toolbarbutton[anonid="reload"]:hover {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

tabpreview toolbarbutton[anonid="reload"]:hover:active {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

tabpreview toolbarbutton[anonid="close"] {
  list-style-image: url("chrome://tabsidebar/skin/close.png");
  -moz-appearance: none;
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  border: none !important;
}

tabpreview toolbarbutton[anonid="close"] image {
   margin-right: 0px;
}

tabpreview toolbarbutton[anonid="close"]:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

tabpreview toolbarbutton[anonid="close"]:hover:active {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

tabpreview toolbarbutton[anonid="security"] {
  list-style-image: url("chrome://tabsidebar/skin/Secure.png");
  -moz-appearance: none;
  border: none !important;
}

tabpreview[security="high"] toolbarbutton[anonid="security"],
tabpreview[security="low"] toolbarbutton[anonid="security"] {
  list-style-image: url("chrome://tabsidebar/skin/Secure.png");
}

	
tabpreview[security="broken"] toolbarbutton[anonid="security"] {
  list-style-image: url("chrome://tabsidebar/skin/Security-broken.png");
}
